<div ng-app="app">
  <div ng-controller="todoCtrl">
  <h1>Things I must do</h1>
  <div ng-model="tasks">{{task[1]}}</div>
  <div>
    Update first task <input ng-model="tasks[0]">
  </div>
  </div>
</div>